@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(149, 149, 155);
    font-family:'poppins';
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* margin-top: 40px; */
    /* background: blue;
    margin:solid blue;
    padding: solid blue; */
}
.name{
    margin-top: 15px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    margin-top: 20px;
    /* text-align: center; */
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;

}
.navbar ul li a::after{
    content:'';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li a:hover::after{
    width:100%;

}
h1{
    text-align: center;
    margin-top: 40px;
    color: rgba(23, 22, 22, 0.755);
}
iframe{
    margin-left: 70px;
}